.image-swap {
    position: relative;
    max-width: 60ch;
    margin-bottom: 1rem;
    border-radius: 4px;
    overflow: hidden;
}

.image-swap > div:first-of-type {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
}

.image-swap > div:first-of-type > img {
    max-width: 800px;
}

.image-swap > div:last-of-type {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    background-size: cover;
    overflow: hidden;
    transition: bottom 0.3s;
}
/* 
.image-swap > div:last-of-type > img {
    position: relative;
    width: 100%;
} */
