.language-selector {
  background: none;
  border: none;
  padding: 2px 4px;
  margin: 0.5ch;
  color: var(--color-gray);
  border: 1px solid var(--color-light-gray);
  border-radius: 4px;
  transition: border-color 0.3s, color 0.3s;
  cursor: pointer;
}

.language-selector:first-of-type {
  margin-left: 0;
}

.language-selector:hover {
  color: var(--color-gray);
  border-color: var(--color-gray);
}

.language-selector.active {
  color: var(--color-black);
  border-color: var(--color-black);
}
