.live-dot {
    color: var(--color-gray);
    cursor: default;
}

.live-dot.is-live {
    color: var(--color-red);
    animation: blink-animation 2s steps(5, start) infinite;
    -webkit-animation: blink-animation 2s steps(5, start) infinite;
}

.live-dot.is-live.no-blink {
    animation: none;
}

@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}
@-webkit-keyframes blink-animation {
    to {
        visibility: hidden;
    }
}
