.timeline {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 3px;
    background-color: var(--color-light-gray);
    transition: background-color 0.5s;
}

.timeline.is-live {
    background-color: var(--color-red);
}
