.page {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.page .time {
    flex-grow: 0;
    width: 10ch;
}

.page .information {
    flex-grow: 1;
}

.page .information .title {
    text-transform: uppercase;
    padding-left: 1rem;
    margin-bottom: 0;
}
