.layout-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.layout {
  flex: 1;
  margin: 1.4rem;
  padding: 1.4rem;
}

@media (max-width: 768px) {
  .layout {
    margin: 1.4rem;
    padding: 0rem;
  }
}
